*.out
*.o
*~
*.swp
#ejecutable de anchor
ANCHOR/anchor
Tools/ANCHOR/anchor
#ejecutable de iupred
iupred/iupred
iupredExe
Tools/iupred.iupred
#salidas y entradas de todos
Output/*
Input/*
TMHMM_*
tests/Results/*
