*.json
*.pyc
*.out
*.o
*~
*.swp
#some tool bins
ANCHOR/anchor
Tools/ANCHOR/anchor
iupred/iupred
iupredExe
Tools/iupred.iupred
#inputs outputs
outputs/*
inputs/*
Input/*
Output/*
TMHMM_*
tests/Results/*
